<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="stylesheets/styles.css">
	<link rel="stylesheet" href="stylesheets/pygment_trac.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<header class="menu">
	<div class="floater2">
		<span class="floaterbox">
	  	<strong>Download micro-ecc:</strong>
			<a class="download" href="https://github.com/kmackay/micro-ecc/zipball/master">.zip</a>
			<a class="download" href="https://github.com/kmackay/micro-ecc/tarball/master">.tar.gz</a>
			<small><a href="https://github.com/kmackay/micro-ecc">View On <strong>GitHub</strong></a></small>
		</span>
	</div>
</header>
<header class="floater">
	<span class="floaterbox">
  	<strong>Download micro-ecc:</strong>
		<a class="download" href="https://github.com/kmackay/micro-ecc/zipball/master">.zip</a>
		<a class="download" href="https://github.com/kmackay/micro-ecc/tarball/master">.tar.gz</a>
		<small><a href="https://github.com/kmackay/micro-ecc">View On <strong>GitHub</strong></a></small>
	</span>
</header>
<section>
	{{ content }}
</section>
<footer>
	<p>This project is maintained by <a href="https://github.com/kmackay">kmackay</a></p>
	<p><small>Hosted on GitHub Pages</small></p>
</footer>
</body>
</html>
